# Gradle-specific files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Dependency cache
.gradle/
**/build/
**/out/

# Gradle logs
gradle.log

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws

# VS Code
.vscode/

# NetBeans
nbproject/private/

# macOS & Linux
.DS_Store
*.swp
*.swo

# Windows
Thumbs.db
ehthumbs.db

*.ppm
resources/* 

libs/*

